:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-black: black;
  --color-white: white;
  --font-size-nav: clamp(0.875rem, 1vw, 1.2rem);
  --color-bg: #dfdfdf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/GeistMono/GeistMonoVariableVF.woff2") format("woff2-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

::selection {
  background-color: var(--color-black);
  color: var(--color-bg);
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  font-family: "Geist", monospace;
  background-color: var(--color-bg);
}

canvas {
  height: 100lvh;
  width: 100lvw;
  cursor: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.static-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: clamp(2rem, 8vw, 6rem);
}

.loader {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  & .bar {
    width: 25vw;
    height: 5vh;
    border: 4px solid black;

    & .bar-fill {
      height: 100%;
      background: black;
    }
  }
}

nav {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1em;
}

.nav-links {
  display: flex;
  gap: 2em;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.nav-link {
  font-size: var(--font-size-nav);
  font-weight: 600;
  color: var(--color-black);
  user-select: none;

  &:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

.logo {
  font-size: var(--font-size-nav);
  font-weight: 600;
  text-decoration: none;
  color: var(--color-black);
  user-select: none;
}

.blink {
  animation: blinker 1.5s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .blink {
    animation: none;
  }

  canvas {
    cursor: auto;
  }
}
